<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cc-interactive.dhldemo" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DHL Incident Report Demo</name>
    <description>
        DHL Incident Report Demo (by Cc-Interactive AsP).
    </description>
    <author email="fpe@cc-interactive.com" href="http://cc-interactive.com">
        Fedir Petrukhin
    </author>
    <preference name='phonegap-version' value='cli-5.2.0' />
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <!--<gap:plugin name="org.apache.cordova.battery-status" />-->
    <gap:plugin name="cordova-plugin-camera" spec="~2.4.0" source="npm"/>
    <!--<gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />-->
    <gap:plugin name="cordova-plugin-device" spec="~1.1.5" source="npm"/>
    <!--<gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />-->
    <gap:plugin name="cordova-plugin-geolocation" spec="~2.4.2" source="npm"/>
    <!--<gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />-->
    <gap:plugin name="cordova-plugin-splashscreen" spec="~4.0.2" source="npm"/>
    <!--<gap:plugin name="com.plugin.datepicker" />-->
    <gap:plugin name="ionic-plugin-keyboard" source="github"/>
    <gap:plugin name="cordova-plugin-email-composer"/>
    <gap:plugin name="cordova-plugins-sms" version="0.1.2"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <gap:config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"></application>
    </gap:config-file>

    <allow-navigation href="*" />
    <allow-intent href="sms:*" />

    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin"/>
    </feature>
    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker"/>
    </feature>

    <icon src="icon.png" />

    <!--<gap:plugin name="org.apache.cordova.vibration" />-->
<!-- iPhone / iPod Touch -->
<icon src="resources/ios/icon/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="resources/ios/icon/icon@2x.png" gap:platform="ios" width="114" height="114" />

<!-- iPad -->
<icon src="resources/ios/icon/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="resources/ios/icon/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

<!-- iPad -->
<icon src="resources/ios/icon/icon-76.png" gap:platform="ios" width="76" height="76" />
<icon src="resources/ios/icon/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

<!-- iPhone Spotlight and Settings Icon -->
<icon src="resources/ios/icon/icon-small.png" gap:platform="ios" width="29" height="29" />
<icon src="resources/ios/icon/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

<!-- iPad Spotlight and Settings Icon -->
<icon src="resources/ios/icon/icon-50.png" gap:platform="ios" width="50" height="50" />
<icon src="resources/ios/icon/icon-50@2x.png" gap:platform="ios" width="100" height="100" />
   
<!-- iPad Spotlight and Settings Icon -->
<icon src="resources/ios/icon/icon-60.png" gap:platform="ios" width="60" height="60" />
<icon src="resources/ios/icon/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
   
<icon src="resources/android/icon/drawable-ldpi-icon.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="resources/android/icon/drawable-mdpi-icon.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="resources/android/icon/drawable-hdpi-icon.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="resources/android/icon/drawable-xhdpi-icon.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="resources/android/icon/drawable-xxhdpi-icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="resources/android/icon/drawable-fr-xxhdpi-icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

<icon src="icon.png" gap:platform="winphone" />
<icon src="tileicon.png" gap:platform="winphone" gap:role="background" />

<!-- iPhone and iPod touch -->
<gap:splash src="resources/ios/splash/Default~iphone.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="resources/ios/splash/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="resources/ios/splash/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="resources/ios/splash/Default-568h.png" gap:platform="ios" width="320" height="568" />
<gap:splash src="resources/ios/splash/Default-Landscape-568h@2x~iphone.png" gap:platform="ios" width="1136" height="640" />

<!-- iPhone 6 -->
<gap:splash src="resources/ios/splash/Default-667h.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="resources/ios/splash/Default-736h.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="resources/ios/splash/Default-Landscape-736h.png" gap:platform="ios" width="2208" height="1242" />

<!-- iPad -->
<gap:splash src="resources/ios/splash/Default-Portraiti~ipad.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="resources/ios/splash/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1536" />

<gap:splash src="resources/android/splash/drawable-port-ldpi-screen.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="resources/android/splash/drawable-port-mdpi-screen.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="resources/android/splash/drawable-port-hdpi-screen.png" gap:platform="android" gap:qualifier="hdpi" />
<gap:splash src="resources/android/splash/drawable-port-xhdpi-screen.png" gap:platform="android" gap:qualifier="xhdpi" />
<gap:splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="resources/android/splash/drawable-land-xxhdpi-screen.png" gap:platform="android" gap:qualifier="land-xxhdpi" />

<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
 
    <access origin="*" />
</widget>
